<app-nav></app-nav>

<md-tab-group>
    <md-tab label="Welcome">
        <h1 class="align-center">Welcome to Career Day!</h1>
        <h1 class="align-center text-green">My name is Eddie</h1>
        <h3 class="align-center text-indigo">I am a Software Engineer</h3>
        <div class="images-container">
            <img class="eddie-card" src="assets/maestro-shirts.jpg">
            <img class="ping-pong-card" src="assets/ping-pong.jpg">
        </div>
    </md-tab>
    <md-tab label="Kindergarten">
        
    </md-tab>
    <md-tab label="3rd Grade">
        
    </md-tab>
</md-tab-group>