<app-nav></app-nav>

<md-tab-group>
    <md-tab label="Welcome">
        <h1 class="align-center">Welcome to Career Day!</h1>
        <h1 class="align-center text-green">My name is Eddie</h1>
        <h3 class="align-center text-indigo">I am a Software Engineer: that means I make computer programs and websites.</h3>
        <h3 class="align-center text-green">I work at a company called MAESTRO. This is a photo of me and two of my co-workers at our office.</h3>
        <img class="eddie-card card" src="assets/maestro-shirts.jpg">

        <h1 class="align-center text-indigo">I live in <strong>Maryland</strong> but my office is in <strong>Michigan</strong></h1>
        <h3 class="align-center text-green">That is because I work remotely, which means I get to work from my house.<br>In general working in software engineering, you make good money, have flexible working hours, and work on exciting projects!</h3>

        <h1 class="align-center text-green">As great as working in my house is, visiting the office in Michigan is great as well!</h1>
        <h3 class="align-center text-indigo">We work with exciting technology: websites, phone apps and we're even beginning to look at making Virtual Reality programs.</h3>

        <img class="ping-pong-card card" src="assets/VR.gif">
        <h1 class="align-center text-indigo">At Maestro, they believe in blurring the lines between work and play.</h1>
        <h3 class="align-center text-green">At the office they have a ping-pong table and a pool table for taking breaks with co-workers</h3>
        <img class="ping-pong-card card" src="assets/PingPong.gif">

        <h1 class="align-center text-green">We also get to make stuff for great companies, like Google!</h1>
        <h3 class="align-center text-indigo">In fact, I made a card game to help Google employees learn.</h3>

        <a href="http://clients.meetmaestro.com/projects/google/gg04measurement-new/#/id/co-05" target="_blank"><img class="google-card card" src="assets/google.png"></a>

        <h1 class="align-center text-indigo">I also make stickers for iPhones</h1>

        <img class="stickers-card card" src="assets/stickers.jpg">

        <h1 class="align-center text-indigo"></h1>
    </md-tab>
    <md-tab label="Kindergarten">
        <h1 class="align-center text-green"><a href="https://www.kodable.com/parents" target="_blank">Kodable</a></h1>
        <h3 class="align-center text-green">Kodable is an easy and fun way to begin learning the basics of how to begin programming.</h3>

        <img class="ping-pong-card card" src="assets/kodable.png">

        <h1 class="align-center text-green"><a href="https://www.apple.com/swift/playgrounds/" target="_blank">Swift Playgrounds</a></h1>
        <h3 class="align-center text-green">Swift Playgrounds is an exciting program that helps teach programming in a seriously fun way. After you learn how to program, you can continue to build your own small programs.</h3>

        <img class="ping-pong-card card" src="assets/swift_playgrounds.jpg">

        <h1 class="align-center text-indigo"></h1>
    </md-tab>
    <md-tab label="3rd Grade">
        <h1 class="align-center text-green"><a href="https://www.apple.com/swift/playgrounds/" target="_blank">Swift Playgrounds</a></h1>
        <h3 class="align-center text-green">Swift Playgrounds is an exciting program that helps teach programming in a seriously fun way. After you learn how to program, you can continue to build your own small programs.</h3>

        <img class="ping-pong-card card" src="assets/swift_playgrounds.jpg">

        <h1 class="align-center text-indigo"></h1>
    </md-tab>
</md-tab-group>