.eddie-card {
  width: 400px;
  display: inline-block !important;
  margin-right: 25px;
  padding-bottom: 0px !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.ping-pong-card {
  width: 600px;
  display: inline-block !important;
  padding-bottom: 0px !important;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)
}

.align-center {
  text-align: center;
}

.images-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

$indigo: #536dfe;
$green: #4caf50;

.text-green {
    color: $green;
}

.text-indigo {
    color: $indigo;
}

